{% extends "layout.html" %}

{% block preample %} 
	<link rel="stylesheet", href="static/css/forms.css">
{% endblock preample %}

{% block content%}
	<form action="{{ url_for('main.login') }}" method="POST">
		<div class="row"><input type="text" id="username" name="username"placeholder="User name" minlength="4" maxlength='20' required></div>
		<div class="row"><input type="password" id="password" name="password" placeholder="Password" minlength="4" maxlength="20" required></div>
		<div class="row"><input type="submit" value="Log in"></div>
	</form>

{%endblock content%}


